#bottom-bar
{ 
	padding: 20px;
	margin-bottom: 0px;
}

#top-bar
{ 
	padding: 20px;
}

#back-button
{ 
	border-radius: 50%;
}


#main-content
{
	padding: 75px
}

h1
{
	font-family: 'Brush Script MT';
	text-align: center;
}

#main-content
{
	width: 50%;
	min-width: 400px;
}

#main-content .container
{
	height:75%;
	overflow: auto;
}

#go-button
{
	margin-top: 15px;
}

#make-new
{
	margin-top: 15px;
}

#landing-buttons
{
	width: 100%;
}

#landing-buttons button
{
	margin-top:35px;
	margin-bottom:35px;
}

#friend-icon
{
	width: 50px;
	margin-right: 30px;
}

#friend img
{
	width: 50px;
	margin-right: 30px;
}

#profile-pic
{
	width: 50px;
}

.theme-square
{
	height: 25px;
	width: 25px;
}

#default-square
{
	background-color: #b0dbde;
}

#alt-square
{
	background-color: #738f51;
}

#light-square
{
	background-color: #ffffff;
}

#dark-square
{
	background-color: #343a40;
}

#friend-search input
{
	margin-right: 12px;
}

#chat
{
	overflow: auto;
}

#image-upload
{
	margin-bottom: 0px;
}