/*colors:

light cyan
#b0dbde
dark cyan
#3b777c

light pink
#deb0c9
dark pink
#934f6c

light yellow
#dedcb0
darker yellow
#8f8d69
*/

/*background of page*/
html
{
	background-color: #b0dbde;
}

/*title colors*/
h1
{
	color: #934f6c;
}

/*button color*/
#main-content button
{
	background-color: #dedcb0;
}

/*button hover is slightly darker*/
#main-content button:hover
{
	background-color: #8f8d69;
}

/*background of list items*/
#main-content a
{
	background-color: #dedcb0;
}

/*list item hover is slightly darker*/
#main-content a:hover
{
	background-color: #8f8d69;
}

/*contrasting list item*/
ul #new-project-button
{
	background-color: #deb0c9;
}

ul #new-project-button:hover
{
	background-color: #934f6c;
}

/*3 buttons at bottom*/
#bottom-bar button
{
	background-color: #b0dbde;
}

/*button hover is contrasting color*/
#bottom-bar button:hover
{
	background-color: #934f6c;
}

/*button active color, make same as hover color*/
#bottom-bar a
{
	background-color: #934f6c;
}

/*bottom bar background*/
.jumbotron
{
	background-color: #3b777c;
}

/*profile and notif buttons*/
#top-bar button
{
	background-color: #deb0c9;
}

/*button hover is slightly darker*/
#top-bar button:hover
{
	background-color: #934f6c;
}

/*list item hover is lighter, like original button color*/
#profile-function small:hover
{
	background-color: #deb0c9;
}